# cfme-tune git ignored files
# Ansible files
*.retry

# Config files
# Ignore local copies of files that require configuration:

# ssh-config file
ansible-playbooks/ssh-config.local

# inventory file
ansible-playbooks/hosts.local

# group_vars/all.local.yml file
ansible-playbooks/group_vars/all.local.yml

# group_vars/create_appliances.local.yml file
ansible-playbooks/group_vars/create_appliances.local.yml

# Performance Tests yaml config files
!cfme-tune/conf/*.yml
ansible-playbooks/*.local.yml
ansible-playbooks/*.local.*.yml

# Log Files
cfme-tune/log/*.log

# Virtual Environment
.cfme_tune
.cfme-tune
.cfme_perf
# Python files
*.py[cod]

# pytest files
.cache/

# Editor files
# Swap files
*.sw[po]

# Others
*~
*.bkup
